footer.footer 
	.section_in 
		.footer_main
			.footer_top
				.footer_logo_w
					a(href="#")  
						.footer_logo
							img(src="i/logo.png", alt="")
						.footer_content
							span AXE-Company
							p Кровельные работы в Московской области
				.footer_info 
					.footer_phone 
						a(href="#") 
							.footer_phone_icon 
								+icon('call')
							p +7 (967) 024-41-40
					.footer_social 
						ul 
							li 
								a(href="#") 
									img(src="i/social/vk.svg", alt="")
							li
								a(href="#") 
									img(src="i/social/profi.svg", alt="")
							li 
								a(href="#") 
									img(src="i/social/avito.svg", alt="")
			.footer_hr 
				.hr 
			.footer_bottom 
				.footer_copyright 
					p © 2022 Все права защищены
				.footer_policy 
					a(href="#") Политикa Конфиденциальности
				.footer_arkada
					a(href="#")  
						img(src="i/arkada.png", alt="")
