header.header
	.section_in
		.header_main
			.header_logo_w
				.header_logo
					a(href="#") AXE-Company
				p Кровельные работы в Московской области
			.header_info 
				.header_phone 
					a(href="#")
						.header_phone_icon 
							+icon('call')
						p +7 (967) 024-41-40
				.header_social 
					ul 
						li 
							a(href="#") 
								img(src="i/social/vk.svg", alt="")
						li
							a(href="#") 
								img(src="i/social/profi.svg", alt="")
						li 
							a(href="#") 
								img(src="i/social/avito.svg", alt="")