.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-call {
	font-size:calc(24/10)*1rem;
	width:calc(24/24)*1em;
}
.icon-close {
	font-size:calc(24/10)*1rem;
	width:calc(24/24)*1em;
}
.icon-handshake {
	font-size:calc(70/10)*1rem;
	width:calc(70/70)*1em;
}
.icon-moneybag {
	font-size:calc(70/10)*1rem;
	width:calc(70/70)*1em;
}
.icon-next {
	font-size:calc(30/10)*1rem;
	width:calc(30/30)*1em;
}
.icon-padlock {
	font-size:calc(70/10)*1rem;
	width:calc(70/70)*1em;
}
.icon-previews {
	font-size:calc(30/10)*1rem;
	width:calc(30/30)*1em;
}
.icon-quality {
	font-size:calc(70/10)*1rem;
	width:calc(70/70)*1em;
}
.icon-roof {
	font-size:calc(70/10)*1rem;
	width:calc(70/70)*1em;
}
.icon-sprite {
	font-size:calc(0/10)*1rem;
	width:calc(0/0)*1em;
}
.icon-star {
	font-size:calc(70/10)*1rem;
	width:calc(70/70)*1em;
}
.icon-stars {
	font-size:calc(19/10)*1rem;
	width:calc(19/19)*1em;
}
